shows data type:

In [1]:
x = 5;
print(x)

5

In [ ]:
x = 4.3
print(x,type(x))

In [5]:
a="char"
print(a,type(a))

char <class 'str'>

if-else program:

In [1]:
x = 5
y =6
if x > y:
    print(x)
else:
    print(y)

6

prints product of two number

In [2]:
x = 1
y=2
z=x*y
print(z)

2

prints modulus of two number

In [4]:
x = 7
y = 6
z= x%y
print(z)

1

Displays addition between two number

In [11]:
num_int = 123 
num_flo = 1.23

num_new = num_int + num_flo

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

4.3 <class 'float'>

char <class 'str'>

In [14]:
a="a"
print(a,type(a))

a <class 'str'>

In [21]:
a="Bangladesh"
b="i live in"
c=a +b
print(c)

Bangladeshi live in

In [22]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [23]:
a=["abc","fgh"]
print(a[0])

abc

In [24]:
a={1,2,3}
print(a)

{1, 2, 3}

In [29]:
x=6
print(x**x)

46656